<!-- sign-up-modal -->
<div class="modal fade" id="sign-up-modal" tabindex="-1" role="dialog" aria-labelledby="sign-up-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close mdl-button mdl-js-button mdl-button--accent" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="sign-up-modal-label">Sign up</h4>
      </div>
      <div class="modal-body">
        <form id="sign-up-form">
          <div class="mdl-textfield mdl-js-textfield">
            <label for="firstName" class="control-label">First name:</label>
            <input type="text" class="mdl-textfield__input" id="firstName" name="firstName" autofocus required>
          </div>
          <div class="mdl-textfield mdl-js-textfield">
            <label for="lastName" class="control-label">Last name:</label>
            <input type="text" class="mdl-textfield__input" id="lastName" name="lastName" required>
          </div>
          <div class="mdl-textfield mdl-js-textfield">
            <label for="email" class="control-label">Email address:</label>
            <input type="email" class="mdl-textfield__input" id="email" name="email" required>
          </div>
          <div class="mdl-textfield mdl-js-textfield">
            <label for="password" class="control-label">Password:</label>
            <input type="password" class="mdl-textfield__input" id="password" name="password" required>
          </div>
          <div class="modal-footer">
            <button type="submit" id="signUpBtn" class="mdl-button mdl-js-button mdl-button--accent">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- log in modal -->
<div class="modal fade" id="log-in-modal" tabindex="-1" role="dialog" aria-labelledby="log-in-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close mdl-button mdl-js-button mdl-button--accent" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="log-in-modal-label">Log in</h4>
      </div>
      <div class="modal-body">
        <form id="log-in-form">
          <div class="mdl-textfield mdl-js-textfield">
            <label for="logInEmail" class="control-label">Email address:</label>
            <input type="text" class="mdl-textfield__input" id="logInEmail" name="email" autofocus required>
          </div>
          <div class="mdl-textfield mdl-js-textfield">
            <label for="logInPassword" class="control-label">Password:</label>
            <input type="password" class="mdl-textfield__input" id="logInPassword" name="password" required>
            <div id="alertDiv"></div>
          </div>
          <div class="modal-footer">
            <button type="submit" id="logInBtn" class="mdl-button mdl-js-button mdl-button--accent">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>