<!DOCTYPE html>
<html>
<head>
  <!-- include head partial from ./views/_head.ejs -->
  <% include ./_head %>
</head>

<body>
	<header>
		<!-- include nav bar partial from ./views/_navBar.ejs -->
		<% include ./_navBar %>

	  <!-- heading jumbotron -->
	  <div class="jumbotron">
	    <h1>Book search</h1>
	  </div>
	</header>

	<div class="container">
		<div class="row">
		  <div class="col-8 col-offset-2" id="homepageDiv">
			  <h3 id="homepageIntroText">Hi <%= user.firstName %>, welcome to Book Search!</h3>
			  <hr>
			  <p>You can use Book Search to:</p>
			  <ul>
			  	<li>View <strong>best-sellers</strong> lists</li>
			  	<li><strong>Search</strong> for books based on your favourite authors</li>
			  	<li>Get <strong>recommendations</strong> for books based on what you have read and enjoyed</li>
			  	<li>Save books to your personal <strong>to-read</strong> list</li>
			  </ul>
			  <hr>
			  <p>If you have already read a book, let us know whether you enjoyed it or not so we can tailor your recommendations.
			  <br>
			  If you see a book that you want to read, add it to your to-read list so you don't forget it!
			  </p>
			  <hr>
			  	<h5>To help us provide you with book recommendations, please enter the names of <strong>three</strong> books that you have read and enjoyed.</h5>
			  	<form id="userBookForm" class="form-group">
			  		<label for="userBookOne">The name of a book you enjoyed:</label>
			  		<input type="text" id="userBookOne" class="form-control userBookInputs" name="userBookOne" placeholder="enter book title..." required>
			  		<br>
			  		<label for="userBookTwo">The name of another book you enjoyed:</label>
			  		<input type="text" id="userBookTwo" class="form-control userBookInputs" name="userBookTwo" placeholder="enter book title..." required>
			  		<br>
			  		<label for="userBookThree">And one more please:</label>
			  		<input type="text" id="userBookThree" class="form-control userBookInputs" name="userBookThree" placeholder="enter book title..." required>
			  		<br>
			  		<input type="submit" id="userBookBtn" class="form-control" value="Go!">
			  	</form>
		  </div> <!-- end of col -->
  	</div> <!-- end of row -->
  </div> <!-- end of container -->

</body>
</html>