<!DOCTYPE html>
<html>
<head>
  <!-- include head partial from ./views/_head.ejs -->
  <% include ./_head %>
</head>

<body>
	<header>
		<!-- include nav bar partial from ./views/_navBar.ejs -->
		<% include ./_navBar %>

	  <!-- heading jumbotron -->
	  <h1>HI <%= user.firstName.toUpperCase() %></h1> 
	  <h1>WELCOME TO NEXT BOOK!</h1>
	</header>

	<div class="container">
		<div class="row">
		  <div class="col-sm-6" id="homepageLeftDiv">
			  <p>YOU CAN USE NEXT BOOK TO:</p>
		  	<p>view <span class="boldFont">BEST-SELLERS</span> lists
		  	<br>
		  	<span class="boldFont">SEARCH</span> for books based on your favourite authors or books
		  	<br>
		  	get <span class="boldFont">RECOMMENDATIONS</span> for books based on what you have read and enjoyed
		  	<br>
		  	save books to your personal <span class="boldFont">TO-READ</span> list</p>
			</div> <!-- end of left div -->

			<div class="col-sm-6" id="homepageRightDiv">
				<p>WHEN YOU SEE A BOOK:</p>
			  <p>that you have <span class="boldFont">READ AND ENJOYED</span> let us know so we can tailor your recommendations
			  <br>
			  that you want to read, add it to your <span class="boldFont">TO-READ LIST</span> so you don't forget it
			  </p>
			</div> <!-- end of right div -->
		</div> <!-- end of row -->

		<div class="row">
			  	<h5>To help us provide you with book recommendations, please enter the names of <strong>three</strong> books that you have read and enjoyed.</h5>
		  		<br>
		  		<div id="userBooksDiv">
			  		<div class="mdl-textfield mdl-js-textfield">
			  		<label for="userBookOne" class="mdl-textfield__label">The name of a book you enjoyed:</label>
			  			<input type="text" id="userBookOne" class="mdl-textfield__input userBookInputs" name="userBookOne"  required>
			  			<div id="userBookOneInnerDiv"></div>
			  		</div>
			  		<br>
			  		<div class="mdl-textfield mdl-js-textfield">
				  		<label for="userBookTwo" class="mdl-textfield__label">The name of another book you enjoyed:</label>
				  		<input type="text" id="userBookTwo" class="mdl-textfield__input userBookInputs" name="userBookTwo" required>
			  		<div id="userBookTwoInnerDiv"></div>
			  		</div>
			  		<br>
			  		<div class="mdl-textfield mdl-js-textfield">
				  		<label for="userBookThree" class="mdl-textfield__label">And one more please:</label>
				  		<input type="text" id="userBookThree" class="mdl-textfield__input userBookInputs" name="userBookThree" required>
			  		<div id="userBookThreeInnerDiv"></div>
			  		</div>
			  		<br>
		  		</div>
		  </div> <!-- end of col -->
  	</div> <!-- end of row -->
  </div> <!-- end of container -->

  <!-- include footer from ./views/_footer.ejs -->
  <% include ./_footer %>
  
</body>
</html>