<!DOCTYPE html>
<html>
<head>
  <!-- include head partial from ./views/_head.ejs -->
  <% include ./_head %>
</head>

<body>
	<header>
		<!-- include nav bar partial from ./views/_navBar.ejs -->
		<% include ./_navBar %>

	  <!-- heading jumbotron -->
	  <h1>HI <%= user.firstName.toUpperCase() %></h1> 
	  <h1>WELCOME TO NEXT BOOK!</h1>
	</header>

	<div class="container">
		<div class="row">
		  <div class="col-sm-6" id="homepageLeftDiv">
			  <p>YOU CAN USE NEXT BOOK TO:</p>
		  	<p>view <span class="boldFont">BEST-SELLERS</span> lists
		  	<br>
		  	<span class="boldFont">SEARCH</span> for books based on your favourite authors or books
		  	<br>
		  	get <span class="boldFont">RECOMMENDATIONS</span> for books based on what you have read and enjoyed
		  	<br>
		  	save books to your personal <span class="boldFont">TO-READ</span> list</p>
			</div> <!-- end of left div -->

			<div class="col-sm-6" id="homepageRightDiv">
				<p>WHEN YOU SEE A BOOK:</p>
			  <p>that you have <span class="boldFont">READ AND ENJOYED</span> let us know so we can tailor your recommendations
			  <br>
			  that you want to read, add it to your <span class="boldFont">TO-READ LIST</span> so you don't forget it
			  </p>
			</div> <!-- end of right div -->
		</div> <!-- end of row -->

		<div class="row">
			<div class="col-sm-6 col-sm-offset-3"
			  <p id="userBookDivTitle">To help us provide you with book recommendations <br> please enter the names of <strong>THREE</strong> books that you have read and enjoyed</p>
		  	<br>
		  	<div id="userBooksDiv">
			  	<div class="form-group">
			  		<input type="text" id="userBookOne" class="form-control" name="userBookOne" placeholder="enter the title of a book you enjoyed..." required>
			  		<div id="userBookOneInnerDiv"></div>
				  </div>
				  <br>
				 	<div class="form-group">
				 		<input type="text" id="userBookTwo" class="form-control" name="userBookTwo" placeholder="enter the title of another book you enjoyed..." required>
			 			<div id="userBookTwoInnerDiv"></div>
			 		</div>
			 		<br>
			 		<div class="form-group">
			  		<input type="text" id="userBookThree" class="form-control" name="userBookThree" placeholder="and one more please..." required>
			 			<div id="userBookThreeInnerDiv"></div>
			  	</div>
			  	<br>
		  	</div>
		  </div> <!-- end of col -->
  	</div> <!-- end of row -->
  </div> <!-- end of container -->

  <!-- include footer from ./views/_footer.ejs -->
  <% include ./_footer %>
  
</body>
</html>