<!DOCTYPE html>
<html>
<head>
  <!-- include head partial from ./views/_head.ejs -->
  <% include ./_head %>
</head>

<body>
	<header>
		<!-- include nav bar partial from ./views/_navBar.ejs -->
		<% include ./_navBar %>
	</header>

	<!-- heading and intro text -->
	<div class="container">
		<div class="row">
		  <div class="col-8 col-offset-2 introDiv">
			  <h3 id="homepageIntroText">Recommendations</h3>
			  <hr>
			  <h5>
			  	On this page we have compiled a list of recommendations for you, based on what you have already read and enjoyed.
			  </h5>
		  </div> <!-- end of col -->
  	</div> <!-- end of row div -->
  </div> <!-- end of container div -->

	<!-- results div -->
	<div class="container">
		<div class="row">
		  <div class="col-8 col-offset-2" id="recommendationsResultsDiv">
			  <ul id="recommendationsResultsDiv" class="list-group">
			  	<% for (var i = 0; i < books.length; i++) { %>
	  				<li class="list-group-item">
	  					<!-- book titles and authors -->
							<strong><%= i + 1 %>. </strong> <span id="capitals"><strong> <%= books[i].title %> </strong></span> by <%= books[i].author %>
							<br>
              <!-- book synopsis -->
              <%= books.synopsis %>
	  				</li>
			  	<% } %>
			  </ul>
  		</div> <!-- end of col -->
  	</div> <!-- end of row div -->
  </div> <!-- end of container div -->
	  

</body>
</html>