<!DOCTYPE html>
<html>
<head>
  <!-- include head partial from ./views/_head.ejs -->
  <% include ./_head %>
</head>

<body>
	<header>
		<!-- include nav bar partial from ./views/_navBar.ejs -->
		<% include ./_navBar %>
	</header>

	<!-- heading and intro text -->
	<div class="container">
		<div class="row">
		  <div class="col-8 col-offset-2" id="homepageDiv">
			  <h3 id="homepageIntroText">Search for books</h3>
			  <hr>
			  <h5>
			  	Use this page to search for books by authors that you like.
			  </h5>
		  </div> <!-- end of col -->
  	</div> <!-- end of row div -->
  </div> <!-- end of container div -->
	  

</body>
</html>