<!DOCTYPE html>
<html>
<head>
  <!-- include head partial from ./views/_head.ejs -->
  <% include ./_head %>
</head>

<body>
	<header>
		<!-- include nav bar partial from ./views/_navBar.ejs -->
		<% include ./_navBar %>
	</header>

	<div class="container">

		<!-- heading and intro text -->
		<div class="row">
		  <div class="col-8 col-offset-2 introDiv">
			  <h3 id="homepageIntroText">SEARCH FOR BOOKS</h3>
			  <hr id="introHr">
			  <h4>USE THIS PAGE TO SEARCH FOR BOOKS BY AUTHORS OR BOOKS THAT YOU LIKE</h4>
		  </div> <!-- end of col -->
  	</div> <!-- end of row div -->

		<!-- search form -->
		<div class="row">
		  <div class="col-md-6 col-md-offset-3">
		  	<form id="authorSearchForm"> <!-- author search form -->
			  	<div class="form-group">
		  	    <input type="text" id="authorSearchInput" class="form-control" name="authorSearchFirstName" placeholder="author's first name..." autofocus>
		  	   </div>
		  	   <div class="mdl-textfield mdl-js-textfield">
		  	    <input type="text" id="authorSearchInput" class="form-control" name="authorSearchLastName" placeholder="author's last name..." >
	      	</div>
	      	<br>
		  	  <button id="authorSearchBtn" class="btn btn-default" type="submit">Search</button>
	      </form> <!-- end of author search form -->
	      <br>
	      <p>OR</p>
	      <form id="bookSearchForm"> <!-- book search form -->
	      	<div class="form-group">
	  	      <input type="text" id="bookSearchInput" class="form-control" name="bookSearchName" placeholder="book title...">  
	      	</div>
	      	<br>
	        <button id="bookSearchBtn" class="btn btn-default" type="submit">Search</button>
	      </form> <!-- end of book search form -->
		  </div> <!-- end of col -->
  	</div> <!-- end of row div -->

  	<!-- results div -->
		<div class="row">
		  <div class="col-md-10 col-md-offset-1" id="searchResultsDiv" style="display: none;">
		  	<ul id="searchResultsList">
		  	</ul>
		  </div> <!-- end of col -->
  	</div> <!-- end of row div -->

  </div> <!-- end of container div -->
  
  <!-- include footer from ./views/_footer.ejs -->
  <% include ./_footer %>
</body>
</html>