<!DOCTYPE html>
<html>
<head>
  <!-- include head partial from ./views/_head.ejs -->
  <% include ./_head %>
</head>

<body>
	<header>
		<!-- include nav bar partial from ./views/_navBar.ejs -->
		<% include ./_navBar %>
	</header>

	<div class="container">

		<!-- heading and intro text -->
		<div class="row">
		  <div class="col-8 col-offset-2 introDiv">
			  <h3 id="homepageIntroText">SEARCH FOR BOOKS</h3>
			  <hr>
			  <h5>
			  	Use this page to search for books by authors that you like.
			  </h5>
		  </div> <!-- end of col -->
  	</div> <!-- end of row div -->

		<!-- search form -->
		<div class="row">
		  <div class="col-md-6 col-md-offset-3">
		  	<form id="authorSearchForm"> <!-- author search form -->
			  	<div class="mdl-textfield mdl-js-textfield">
				  	<label for="authorSearchInput" id="authorLabel" class="mdl-textfield__label">Enter author's first name:</label>
		  	    <input type="text" id="authorSearchInput" class="mdl-textfield__input" name="authorSearchFirstName" autofocus>
		  	   </div>
		  	   <div class="mdl-textfield mdl-js-textfield">
		  	    <label for="authorSearchInput" id="authorLabel" class="mdl-textfield__label">Enter author's last name:</label>
		  	    <input type="text" id="authorSearchInput" class="mdl-textfield__input" name="authorSearchLastName">
	      	</div>
	      	<br>
		  	  <button id="authorSearchBtn" class="mdl-button mdl-js-button mdl-button--accent" type="submit">Search</button>
	      </form> <!-- end of author search form -->
	      <br>
	      <p>OR</p>
	      <form id="bookSearchForm"> <!-- book search form -->
	      	<div class="mdl-textfield mdl-js-textfield">
		      	<label for="bookSearchInput" id="bookLabel" class="mdl-textfield__label">Enter book name here:</label> <!-- book search -->
	  	      <input type="text" id="bookSearchInput" class="mdl-textfield__input" name="bookSearchName">  
	      	</div>
	      	<br>
	        <button id="bookSearchBtn" class="mdl-button mdl-js-button mdl-button--accent" type="submit">Search</button>
	      </form> <!-- end of book search form -->
		  </div> <!-- end of col -->
  	</div> <!-- end of row div -->

  	<!-- results div -->
		<div class="row">
		  <div class="col-md-10 col-md-offset-1" id="searchResultsDiv">
		  	<ul id="searchResultsList">
		  	</ul>
		  </div> <!-- end of col -->
  	</div> <!-- end of row div -->

  </div> <!-- end of container div -->
  
  <!-- include footer from ./views/_footer.ejs -->
  <% include ./_footer %>
</body>
</html>