header {
	/*insert image*/
	margin-bottom: 40px;
	padding-bottom: 10px;
}

#logo {
	margin: 10px;
}

/*index.ejs*/
.sign-up-log-in {
	float:right;
	margin: 10px;
}

.jumbotron {
	text-align: center;
	background: transparent;
	padding: 0px, 0px;
}

#intro-text-div {
	width: 100%;
	text-align: center;
}

#intro-text {
	float: center;
	/*margin-bottom: 20px;*/
}

#landing-page-list {
	text-align: center
}

#capitals {
	text-transform: capitalize;
}

.landingPageHeaders {
	margin-bottom: 20px;
}

/*homepage.ejs*/
.user-log-out {
	float: right;
	margin: 10px;
}

#homepageDiv {
	text-align: center;
	border: solid black 2px;
	width: 100%;
}

.userBookInputs {
	/*margin-bottom: 10px;*/
	text-align: center;
}

#userBookForm {
	display: inline-block;
}

/*all logged in pages*/
#userLoggedIn {
	margin-right: 30px;
}

/*bestsellers.ejs*/
.bestsellerList {
	margin-top: 30px;
}

/*list.ejs*/
#toReadListDiv {
	border: solid black 2px;
	margin-top: 30px;
}

/*bestsellers, search, recommendations, list*/
.introDiv {
	text-align: center;
	border: solid black 2px;
}

/*search*/
#searchResultsDiv {
	border: solid black 2px;
	margin-top: 30px;
}

.bookImages {
	width: 100px;
	height: auto;
}

/**/


