header {
	/*insert image*/
}

#logo {
	margin: 10px;
}

.sign-up-log-in {
	float:right;
	margin: 10px;
}

.jumbotron {
	text-align: center;
	background: transparent;
}

#intro-text-div {
	width: 100%;
	text-align: center;
}

#intro-text {
	float: center;
	/*margin-bottom: 20px;*/
}

#landing-page-list {
	border: solid black 2px;
	text-align: center
}

#capitals {
	text-transform: capitalize;
}