header {
	/*insert image*/
}

#logo {
	margin: 10px;
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 100px;	
	text-align: center;
}

hr {
	width: 70%;
}

/*index.ejs*/
.sign-up-log-in {
	float:right;
	margin: 10px;
}

.jumbotron {
	text-align: center;
	background: transparent;
	padding: 0px, 0px;
}

#intro-text-div {
	width: 100%;
	text-align: center;
}

#intro-text {
	float: center;
}

#landing-page-list {
	text-align: center
}

#capitals {
	text-transform: capitalize;
}

.landingPageHeaders {
	margin-bottom: 20px;
}

/*homepage.ejs*/
.user-log-out {
	float: right;
	margin: 10px;
}

#homepageDiv {
	text-align: center;
	width: 100%;
}

#userBooksDiv {
	margin-bottom: 30px;
}

#homepageList {
	list-style: none;
}

.userBookInputs {
	/*margin-bottom: 10px;*/
	text-align: center;
}

.userBookOuterDivs {
	width: 50%;
	display: inline-block;
	margin: 20px 0px;
}

.userBookInnerDivs {
	width: 70%;
	display: inline-block;
}

#userBookFormAlert {
	text-align: center;
	margin: 0 auto;
	width: 60%;
}

/*all logged in pages*/
#userLoggedIn {
	margin-right: 30px;
}

/*bestsellers.ejs*/
.bestsellerList {
	margin-top: 30px;
}

/*list.ejs*/
#toReadListDiv {
	margin-top: 30px;
}

.deleteBook {
	float: right;
}

.list-group-item {
	padding:20px 10px;
}

/*bestsellers, search, recommendations, list*/
.introDiv {
	text-align: center;
}

/*search*/
#searchResultsDiv {
	margin-top: 30px;
}

.bookImages {
	width: 100px;
	height: auto;
}

#authorSearchForm {
	margin-top: 20px;
}

.hrSearch {
	width: 100%;
}

/*recommendations*/
#recommendationsResultsDiv {
	margin-top: 30px;
}

/*contact*/
#contactUsForm {
	margin-top: 30px;
}


